.verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
}
.loader-content,
.error-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.loader-content p {
  color: var(--p-text-color);
  font-size: 1.25rem;
}
